@tailwind base;
@tailwind components;
@tailwind utilities;

.app-layout {
  display: grid;
  grid-template-columns: 80px 1fr;
  min-height: 100dvh;
}


body {
  @apply bg-[#f3f3f3] text-gray-900;
}

.progress {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-linecap: round;
}

.indicator-bar .indicator-line:nth-child(1) {
  background-color: hsl(100deg 80% 35%);
}

.indicator-bar .indicator-line:nth-child(2) {
  background-color: hsl(40, 95%, 50%);
}

.indicator-bar .indicator-line:nth-child(3) {
  background-color: hsl(0, 79%, 50%);
}

.indicator-line-card:nth-child(1) .indicat-score {
  color: hsl(40, 79%, 50%);
}

.indicator-line-card:nth-child(2) .indicat-score {
  color: hsl(100, 79%, 40%);
}

.indicator-line-card:nth-child(3) .indicat-score {
  color: hsl(100, 79%, 40%);
}

.indicator-line-card:nth-child(4) .indicat-score {
  color: hsl(40, 79%, 50%);
}

.indicator-line-card:nth-child(5) .indicat-score {
  color: hsl(100, 79%, 40%);
}

.indicator-line-card:nth-child(6) .indicat-score {
  color: hsl(0, 79%, 50%);
}

.vital-score {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
